.SignUpBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-top: 10vh;
}

.Contents {
  text-align: start;
}

.radio {
  width:15px;
  height: 15px;
  margin: 0px;
}
