.wrap {
  padding: 100px;
  background-color: #5f0080;
  overflow: hidden;
  height: 100%;
}

.wrap h2 {
  margin: 0 auto;
  color: #dedede;
  text-align: center;
}

.wrap .register {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  margin: 50px auto;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba((2, 128, 144, 1), 0.2);
}

.register > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
  border: 1px solid #dedede
}

.register > button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #5f0080;
}

.register > button:hover {
  background-color: darken(#5f0080, 5%);
}

/* .inputBox > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
} */

.inputBox > input, .inputBox > select {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #dedede;
  width: 90%;
  margin: 18px auto;
  color: #000;
  font-family: 'Lato', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
}

.wrap .select{
  margin: 10px;
}

.wrap select{
  padding: 12px;
  font-size: 14px;
  border: 1px solid #dedede;
  width: 100%;
  margin-bottom: 18px;
  color: #000;
  font-family: 'Lato', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
}

.aBox{
  width: 100%;
  margin-top:20px;
  text-align: center;
}

.wrap .aBox a{
  margin: 0 auto;
  color: #dedede;
}