.img{
  width: 80%;
  height: 300px;
  object-fit: cover;
}

.small_grey_font {
  font-size: 10px;
  color:grey;
  margin: 10px 0 0 0;
}

.black_product_name {
  font-size: 17px;
  margin: 0;
}

.black_price {
  margin: 0;
}
