.logo {
  width:82px;
}

.board {
  width: 100%;
  height: 100%;
  margin: 0;
}

.searchResult {
  margin: 0px auto;
  width: 90%;
}

.searchKeyword{
  text-align: center;
}

/* .item_photos{
  flex-direction: row;
  justify-content: start;
} */