.wrap{
  padding: 100px;
  background-color: #5f0080;
  overflow: hidden;
  height: 100vh;
}

.wrap h2 {
  margin: 0 auto;
  color: #dedede;
  text-align: center;
}

.login {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  margin: 50px auto;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba((2, 128, 144, 1), 0.2);
}

.login::before, .login::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.login > input {
  font-family: 'Asap', sans-serif;;
  display: block;
  border-radius: 5px;
  border: 1px solid #dedede;
  font-size: 16px;
  background: white;
  width: 100%;
  padding: 10px 10px;
  margin: 15px -10px;
}

.login > button {
  font-family: 'Asap', sans-serif;;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #5F0080;;
}

.login > button:hover {
  background-color: darken(#5F0080, 5%);
}

.aBox{
  width: 100%;
  margin-top:20px;
  text-align: center;
}

.wrap .aBox a{
  margin: 0 auto;
  color: #dedede;
}